go 1.21.1

toolchain go1.21.4

use (
	./build/tools
	./contracts
	./cosmos
	./e2e/localnet
	./e2e/precompile
	./e2e/testapp
	./eth
	./lib
)

replace github.com/cosmos/cosmos-sdk => github.com/rollkit/cosmos-sdk v0.50.1-rollkit-v0.11.19-no-fraud-proofs-fixed
